<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/icon" href="images/logo_white.png">
  <title>NITS MUN | EB Application</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/icon" href="images/logo_white.png">
  
</head>

<body>
  <div class="container">
    <header class="header">
      <h1 id="title" class="text-center">
        NITSMUN 2021 EB Applications
      </h1>
    </header>

    <form id="survey-form" method="POST" action="/">
        <!-- <div class="form-group">
            <label> <input name="Apply For" value="EB" type="radio" class="input-radio" required/>EB</label>
          </div> -->
      <div class="form-group">
        <label for="name" id="name-label">Name</label>
        <input type="text" name="Eb_Name" id="name" class="form-control" placeholder="Enter your name" required />
      </div>

      <div class="form-group">
        <label for="roll" id="name-label">Education/Occupation</label>
        <input type="text" name="EB_Education" id="roll" class="form-control" placeholder="Enter your Education/Occupation details" required />
      </div>

      <div class="form-group">
        <label id="email-label" for="email">Email</label>
        <input type="email" name="EB_email" id="email" class="form-control" placeholder="Enter your Email" required />
      </div>

      <div class="form-group">
        <label id="number-label" for="number"> Contact No. <span class="clue"></span></label>
        <input type="number" name="EB_contact" id="number" min="0000000000" max="9999999999" class="form-control"
          placeholder="Contact No."/>
      </div>

      <div class="form-group">
        <label id="number-label" for="number"> Resume <span class="clue"></span></label>
        <input type="text" name="EB_Resume" id="number" class="form-control" placeholder="Provide Resume link" required/>
      </div>
      <div class="form-group">
        <label id="number-label" for="number">Profile Links<span class="clue"></span></label>
        <input type="text" name="EB_Profile link" id="number" class="form-control" placeholder="Enter any Social media links" />
      </div>
      <div class="form-group" style="display: none;">
        <input type="text" name="category" value="eb" hidden class="form-control" />
      </div>
      <div class="form-group">
        <p>Queries
          <span class="clue"></span>
        </p>
        <textarea id="comments" class="input-textarea form-control" name="EB_Queries"
          placeholder="Enter any queries"></textarea>
      </div>

      <div class="form-group">
        <button type="submit" id="submit" class="submit-button">
          Submit
        </button>
      </div>
    </form>
  </div>

  <script>
    document.getElementById('survey-form').reset()
  </script>
</body>

</html>