<!DOCTYPE html>
<html lang="en">

<head>
  <title>NITS MUN | History</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/icon" href="images/logo_white.png">
  <link rel="stylesheet" type="text/css" href="css/preload.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/fancybox.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/jquery-3.3.1.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.1.0/mdb.min.js"></script>
  <script src="js\bootstrap_modal.js"></script>

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/715c997c20.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/team.css">
  <link rel="stylesheet" type="text/css" href="css/styleCard.css">
  <link rel="stylesheet" type="text/css" href="css/preload.css">
  <link rel="stylesheet" type="text/css" href="css/landing.css">
  <link rel="stylesheet" type="text/css" href="css/styleCard.css">
  <link rel="stylesheet" type="text/css" href="css/footer.css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
</head>

<body>
  <div class="preload">
    <img class="rounded-circle logo" src="images/logo white.png" alt="logo" width="550px" height="500px">
  </div>

  <!-- Navbar -->
  <div class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #212D74; opacity: 0.9;">
      <a class="navbar-brand px-2" href="/" style="font-size: 30px; font-family: 'Noto Serif', serif;">NITSMUN</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 24px; font-family: Roboto;
      font-style: normal;">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link px-4" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link px-4" href="/secretariat">Secretariat</a>
          </li>
          <li class="nav-item active px-4">
            <a class="nav-link" href="/history">History</a>
          </li>
          <li class="nav-item active px-4">
            <a class="nav-link" href="/gallery">Gallery</a>
          </li>
          <li class="nav-item dropdown active px-4">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: #f73167;">
              APPLY
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown"
              style="font-size: 22px;">
              <a class="dropdown-item" href="/apply_ST">Delegate Applications</a>
              <a class="dropdown-item" href="/apply_EB">Executive Board Applications</a>


            </div>
          </li>

        </ul>

      </div>
    </nav>
  </div>


  <style>
    .navbar-style1 {
      padding-top: .5px;
    }
    .text-head{
      margin-top: 10%;
    }
    @media screen and (max-width: 768px) {
        .text-head{
          margin-top: 6rem;
        }
    }
    @media screen and (max-width: 768px) {
      .navbar{
        text-align: center;
      }
    }
  </style>

  <section>
    <div class="container-fluid margin-auto">
      <h1 class="text-center text-capitalize pt-3 text-head">NITS MUN over the years</h1>
      <hr class="w-50  mx-auto">
      <p style="margin-left: 7%; margin-right: 7%; margin-top: 4%; margin-bottom: 3%;font-size: larger;">NITSMUN was
        founded in 2014 when a group of like-minded people wanted to create a society for younger people to
        discuss, debate and deliberate present day crises whilst experiencing themselves being in the shoes of various
        world leaders. Ever since the first MUN session in 2014, our society has grown manifold with more enthusiastic
        people joining in and helping us emerge as one the best and most promising MUN societies in NE India. Besides
        having participated in various MUNs in and around the city and bringing home numerous accolades and valuable
        experience, we have also hosted MUNs every single year since, with awe-inspiring members of the EB training and
        guiding us to think rationally, act quickly and solve modern day problems and at the same time also provide us
        with the support required.</p>
      <!-- <h2 class="text-center text-capitalize pt-3 team_text" style="margin-top: 10px;">Agendas</h2> -->


      <!-- <div class="row mb-5">
        <div class="col-lg-6 col-md-6 col-12">
          <h1 class="text-center text-capitalize">UNGA</h1>
          <hr>
          <p>
          <h5 style="margin-left: 7%; margin-right: 7%; margin-top: 7%; margin-bottom: 3%;">1. Analysing political and
            economic causes of the ongoing crises and formulating policies to stabilize the same. Focus: Greece,
            Venezuela, Zimbabwe.
          </h5>
          </p>
          <p>
          <h5 style="margin: 7%; margin-top: 0%;">2. Reassessing the SDGs and affirming them with rigid viable goals and
            to check the viability of currently ongoing climate programmes.</h5>
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <h1 class="text-center text-capitalize">UNSC</h1>
          <hr>
          <p>
          <h5 style="margin: 7%; ">1. To evaluate the threat to international security posed by Turkish Invasion of
            Syria and to discuss and formulate the working consequence and possible solutions to Turkey's safe zone
            development plan in Syria
          </h5>
          </p>
        </div>
      </div> -->
    </div>
  </section>
  <!--  -->


  <!--  -->

  <section>
    <div class="container">
      <h1 class="text-center text-capitalize pt-3" style="margin-top: 10%; ">Glimpses of Previous Conference</h1>
      <h1 class="text-center text-capitalize team_text" style="margin-top: 10%;">Agendas over the Years</h1>
      <hr class="w-25 mx-auto pt-5">

      <!-- <div class="row text-center text-capitalize mb-5 py-5"> -->
      <div class="row text-center text-capitalize" style="justify-content: center;">
        <div class="card col-lg-4 col-md-6" style="width:300px;">
          <img class="card-img-top" src="./images/bg 20202.JPG" alt="Card image">
          <div class="card-body">
            <!-- <h4 class="card-title">student1</h4>
            <p class="card-text">some text</p> -->
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          </div>
        </div>
        <div class="card col-lg-4 col-md-6" style="width:300px">
          <img class="card-img-top" src="./images/bg2 2020.JPG" alt="Card image">
          <div class="card-body">
            <!-- <h4 class="card-title">student1</h4>
            <p class="card-text">some text</p> -->
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          </div>
        </div>



        <div class="card col-lg-4 col-md-6" style="width:300px">
          <img class="card-img-top" src="./images/bg2019.JPG" alt="Card image">
          <div class="card-body">
            <!-- <h4 class="card-title">student1</h4>
            <p class="card-text">some text</p> -->
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          </div>
        </div>
        <div class="card col-lg-4 col-md-6" style="width:300px">
          <img class="card-img-top" src="./images/bg12017.png" alt="Card image">
          <div class="card-body">
            <!-- <h4 class="card-title">student1</h4>
            <p class="card-text">some text</p> -->
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          </div>
        </div>


        <div class="card col-lg-4 col-md-6" style="width:300px">
          <img class="card-img-top" src="./images/bg2018.JPG" alt="Card image">
          <div class="card-body">
            <!-- <h4 class="card-title">student1</h4>
            <p class="card-text">some text</p> -->
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          </div>
        </div>
        <div class="card col-lg-4 col-md-6" style="width:300px">
          <img class="card-img-top" src="./images/bg2_2017.png" alt="Card image">
          <div class="card-body">
            <!-- <h4 class="card-title">student1</h4>
            <p class="card-text">some text</p> -->
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          </div>
        </div>
        <div class="card col-lg-4 col-md-6" style="width:300px">
          <img class="card-img-top" src="./images/bg1_year.jpg" alt="Card image">
          <div class="card-body">
            <!-- <h4 class="card-title">student1</h4>
            <p class="card-text">some text</p> -->
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          </div>
        </div>

        <div class="card col-lg-4 col-md-6" style="width:300px">
          <img class="card-img-top" src="./images/bg2_year.jpg" alt="Card image">
          <div class="card-body">
            <!-- <h4 class="card-title">student1</h4>
            <p class="card-text">some text</p> -->
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          </div>
        </div>

        <div class="card col-lg-4 col-md-6" style="width:300px">
          <img class="card-img-top" src="./images/bg3_year.jpg" alt="Card image">
          <div class="card-body">
            <!-- <h4 class="card-title">student1</h4>
            <p class="card-text">some text</p> -->
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          </div>
        </div>



      </div>




      <!-- </div> -->
    </div>

    <!-- try judges -->
    <div class="container">
      <h1 class="text-center text-capitalize team_text" style="margin-top: 3rem;">Executive Board over the years</h1>
      <hr class="w-25 mx-auto pt-5">

      <div class="row text-center " style="justify-content: center;">

        <div class="judg card col-lg-4 col-md-6 col-sm-12" style="width:350px ; height:auto;">
          <img class="card-img-top" src="./images/judge1.jpeg" alt="Card image">
          <div class="card-body">
            <h2>Rahul Menon</h2>
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          </div>
        </div>


        <div class="judg card col-lg-4 col-md-6 col-sm-12" style="width:350px ; height:auto" px-3>
          <img class="card-img-top" src="./images/judge2.jpeg
          " alt="Card image">
          <div class="card-body">
            <h2>Garima Rajpal</h2>
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          </div>
        </div>


        <div class="judg card col-lg-4 col-md-6 col-sm-12" style="width:350px ; height:auto">
          <img class="card-img-top" src="./images/judge3.jpeg" alt="Card image">
          <div class="card-body">
            <!-- 4 class="card-title team_text" -->
            <h2>Ujan Natik</h2>
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          </div>
        </div>

        <div class="judg card col-lg-4 col-md-6 col-sm-12" style="width:350px ; height:auto">
          <img class="card-img-top" src="./images/judge4_Aniket_Aich.JPG" alt="Card image">
          <div class="card-body">
            <!-- 4 class="card-title team_text" -->
            <h2>Aniket Aich</h2>
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          </div>
        </div>

        <div class="judg card col-lg-4 col-md-6 col-sm-12" style="width:350px ; height:auto">
          <img class="card-img-top" src="./images/judge5.jpg" alt="Card image">
          <div class="card-body">
            <!-- 4 class="card-title team_text" -->
            <h2>Sehrish Hazarika</h2>
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          </div>
        </div>
        <!-- <div class="judg card col-lg-4 col-md-6 col-sm-12" style="width:350px ; height:auto">
          <img class="card-img-top" src="./images/judge3.jpeg" alt="Card image">
          <div class="card-body">
            <!-- 4 class="card-title team_text" -->
            <!-- <h2>Ujan Natik</h2> -->
            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
          <!-- </div> -->
        <!-- </div> -->



      </div>
    </div>

    <!-- till here -->
    <!-- ********************* new footer ********************* -->
    <footer class="footer-distributed">

      <div class="footer-left">
        <div><img class="nitslogofooter" src="images/text_logo_white.png" width="300px" height=auto></div>
        <div class="footer-links">
          <a href="/">Home</a>
          ·
          <a href="/secretariat">Secretariat</a>
          ·
          <a href="/history">History</a>
          ·
          <a href="/gallery">Gallery</a>
          ·
          <a class="dropdown-toggle" id="Dropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Apply
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Dropdown2">
            <a class="dropdown-item" href="/apply_ST">Delegate Applications</a>
            <a class="dropdown-item" href="/apply_EB">Executive Board Applications</a>
          </div>
        </div>
        <p class="footer-company-name">NITSMUN © 2021</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>NIT Silchar</span> Silchar, Assam</p>
        </div>

        <div>
          <i class="fa fa-phone fa-flip-horizontal"></i>
          <p>+91 94355 37377 / +91 70028 87692</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a target="__blank" href="mailto:support@company.com" style="color: #fff;">team.nitsmun@gmail.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>NITSMUN</span>
          National Institute of Technology, Silchar - Model United Nations
        </p>

        <div class="footer-icons">

          <a target="__blank" href="https://www.facebook.com/NITSMUN/?ref=br_rs"><i class="fa fa-facebook"></i></a>
          <a target="__blank" href="https://www.instagram.com/nitsmun/"><i class="fa fa-instagram"></i></a>

        </div>

      </div>

    </footer>

  </section>

  <script src="js/preloader.js"></script>
  <script>
    const hamburger = document.querySelector('.hamburger');
    const navbarList = document.querySelector('.navbar-list');
    const links = document.querySelectorAll('.navbar-list li');
    const brand = document.querySelector('.brand');
    hamburger.addEventListener("click", () => {
      navbarList.classList.toggle("open");
      if (brand.style.display === "none") {
        setTimeout(() => {
          brand.style.display = "flex";
        }, 1000);
      }
      else {
        brand.style.display = "none";
      }
    });
  </script>
</body>

</html>