<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/icon" href="images/logo_white.png">
  <title>NITS MUN | Student Application </title>
  
  <link rel="stylesheet" href="style.css">
  
  
  <link rel="icon" type="image/icon" href="images/logo_white.png">

  <style>
    @media screen and (max-width: 768px) {
      .navbar{
        text-align: center;
      }
    }
  </style>
</head>

<body>
  <div class="container">
    <header class="header">
      <h1 id="title" class="text-center">
        NITSMUN 2021 Delegate Applications
      </h1>
    </header>

    <form id="survey-form" method="POST" action="/">
      <!-- <div class="form-group">
        <label> <input name="Apply For" value="ST" type="radio" class="input-radio" required/>ST</label>
      </div> -->
      <div class="form-group">
        <label for="name" id="name-label">Name</label>
        <input type="text" name="Student_name" id="name" class="form-control" placeholder="Enter your name" required />
      </div>

      <div class="form-group">
        <label for="roll" id="name-label">College</label>
        <input type="text" name="Student_College" id="College" class="form-control" placeholder="Enter your College" required />
      </div>

      <div class="form-group">
        <label id="email-label" for="email">Email</label>
        <input type="email" name="Student_email" id="email" class="form-control" placeholder="Enter your Email" required />
      </div>
      <!-- <span class="clue"></span> -->
      <!-- min="0000000000" max="9999999999" -->
      <div class="form-group">
        <label id="number-label" for="number"> Contact No.</label>
        <input type="number" name="Student_contact" id="number" min="0000000000" max="9999999999" class="form-control" placeholder="Contact No." required/>
      </div>

      <div class="form-group">
        <p>Committee Preference</p>
        <select id="dropdown" name="Student_Committee" class="form-control" required>
          <option disabled selected value>Select Committee</option>
          <option value="UNHSC">UNHSC</option>
          <option value="UNOOSA">UNOOSA</option>
          <!-- <option value="UNGA">UNGA</option>
          <option value="UNSC">UNSC</option>
          <option value="UNGA">UNGA</option> -->
        </select>
      </div>

      <!-- <div class="form-group"> -->
        <!-- <p>
          1St Country Preference
        </p> -->
        <!-- <div class="form-group">
          <label for="roll" id="name-label">1st Country Preference</label>
          <input type="text" name="ST_1St Country Preference" id="1St Country Preference" class="form-control" placeholder="Enter Country" required />
        </div> -->
        <!-- UNHSC -->
        <div class="form-group">
          <p>1st Country Preference For UNHSC</p>
          <select id="dropdown" name="ST_UNHSC 1st Country" class="form-control" required>
            <option disabled selected value>Select Committee</option>
            <option value="Afghanistan">Afghanistan</option>
            <option value="Albania">Albania</option>
            <option value="Argentina">Argentina</option>
            <option value="Armenia">Armenia</option>
            <option value="Azerbaijan">Azerbaijan</option>
              <option value="Belarus">Belarus</option>
              <option value="Belgium">Belgium</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Brazil">Brazil</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Chile">Chile</option>
              <option value="China">China</option>
              <option value="Colombia">Colombia</option>
              <option value="Croatia">Croatia</option>
              <option value="Czechia">Czechia</option>
              <option value="Denmark">Denmark</option>
              <option value="Estonia">Estonia</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="Georgia">Georgia</option>
              <option value="Germany">Germany</option>
              <option value="Greece">Greece</option>
              <option value="Hungary">Hungary</option>
              <option value="India">India</option>
              <option value="Ireland">Ireland</option>
              <option value="Ireland">Ireland</option>
              <option value="Kazakhstan">Kazakhstan</option>
              <option value="Kyrgyzstan">Kyrgyzstan</option>
              <option value="Latvia">Latvia</option>
              <option value="Lithuania">Lithuania</option>
              <option value="Luxemberg">Luxemberg</option>
              <option value="Moldova">Moldova</option>
              <option value="Netherlands">Netherlands</option>
              <option value="Norway">Norway</option>
              <option value="Peru">Peru</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Romania">Romania</option>
              <option value="Russia">Russia</option>
              <option value="Slovakia">Slovakia</option>
              <option value="Spain">Spain</option>
              <option value="Sweden">Sweden</option>
              <option value="Tajikistan">Tajikistan</option>
              <option value="Turkmenistan">Turkmenistan</option>
              <option value="Ukraine">Ukraine</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="Uruguay">Uruguay</option>
              <option value="USA">USA</option>
              <option value="Uzbekistan">Uzbekistan</option>
              <option value="Venezuela">Venezuela</option>
          </select>
        </div>

      <!-- <div class="form-group">
        <label for="roll" id="name-label">2nd Country Preference</label>
        <input type="text" name="ST_2nd Country Preference" id="2nd Country Preference" class="form-control" placeholder="Enter Country" required />
      </div> -->
      <div class="form-group">
        <p>2nd Country Preference For UNHSC</p>
        <select id="dropdown" name="ST_UNHSC 2nd Country" class="form-control" required>
          <option disabled selected value>Select Committee</option>
          <option value="Afghanistan">Afghanistan</option>
            <option value="Albania">Albania</option>
            <option value="Argentina">Argentina</option>
            <option value="Armenia">Armenia</option>
            <option value="Azerbaijan">Azerbaijan</option>
              <option value="Belarus">Belarus</option>
              <option value="Belgium">Belgium</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Brazil">Brazil</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Chile">Chile</option>
              <option value="China">China</option>
              <option value="Colombia">Colombia</option>
              <option value="Croatia">Croatia</option>
              <option value="Czechia">Czechia</option>
              <option value="Denmark">Denmark</option>
              <option value="Estonia">Estonia</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="Georgia">Georgia</option>
              <option value="Germany">Germany</option>
              <option value="Greece">Greece</option>
              <option value="Hungary">Hungary</option>
              <option value="India">India</option>
              <option value="Ireland">Ireland</option>
              <option value="Ireland">Ireland</option>
              <option value="Kazakhstan">Kazakhstan</option>
              <option value="Kyrgyzstan">Kyrgyzstan</option>
              <option value="Latvia">Latvia</option>
              <option value="Lithuania">Lithuania</option>
              <option value="Luxemberg">Luxemberg</option>
              <option value="Moldova">Moldova</option>
              <option value="Netherlands">Netherlands</option>
              <option value="Norway">Norway</option>
              <option value="Peru">Peru</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Romania">Romania</option>
              <option value="Russia">Russia</option>
              <option value="Slovakia">Slovakia</option>
              <option value="Spain">Spain</option>
              <option value="Sweden">Sweden</option>
              <option value="Tajikistan">Tajikistan</option>
              <option value="Turkmenistan">Turkmenistan</option>
              <option value="Ukraine">Ukraine</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="Uruguay">Uruguay</option>
              <option value="USA">USA</option>
              <option value="Uzbekistan">Uzbekistan</option>
              <option value="Venezuela">Venezuela</option>
        </select>
      </div>

      <!-- <div class="form-group">
        <label for="roll" id="name-label">3rd Country Preference</label>
        <input type="text" name="ST_3rd Country Preference" id="3rd Country Preference" class="form-control" placeholder="Enter Country" required />
      </div> -->
      <div class="form-group">
        <p>3rd Country Preference For UNHSC</p>
        <select id="dropdown" name="ST_UNHSC 3rd Country" class="form-control" required>
          <option disabled selected value>Select Committee</option>
          <option value="Afghanistan">Afghanistan</option>
          <option value="Albania">Albania</option>
          <option value="Argentina">Argentina</option>
          <option value="Armenia">Armenia</option>
          <option value="Azerbaijan">Azerbaijan</option>
            <option value="Belarus">Belarus</option>
            <option value="Belgium">Belgium</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Brazil">Brazil</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <option value="Colombia">Colombia</option>
            <option value="Croatia">Croatia</option>
            <option value="Czechia">Czechia</option>
            <option value="Denmark">Denmark</option>
            <option value="Estonia">Estonia</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="Georgia">Georgia</option>
            <option value="Germany">Germany</option>
            <option value="Greece">Greece</option>
            <option value="Hungary">Hungary</option>
            <option value="India">India</option>
            <option value="Ireland">Ireland</option>
            <option value="Ireland">Ireland</option>
            <option value="Kazakhstan">Kazakhstan</option>
            <option value="Kyrgyzstan">Kyrgyzstan</option>
            <option value="Latvia">Latvia</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Luxemberg">Luxemberg</option>
            <option value="Moldova">Moldova</option>
            <option value="Netherlands">Netherlands</option>
            <option value="Norway">Norway</option>
            <option value="Peru">Peru</option>
            <option value="Poland">Poland</option>
            <option value="Portugal">Portugal</option>
            <option value="Romania">Romania</option>
            <option value="Russia">Russia</option>
            <option value="Slovakia">Slovakia</option>
            <option value="Spain">Spain</option>
            <option value="Sweden">Sweden</option>
            <option value="Tajikistan">Tajikistan</option>
            <option value="Turkmenistan">Turkmenistan</option>
            <option value="Ukraine">Ukraine</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="Uruguay">Uruguay</option>
            <option value="USA">USA</option>
            <option value="Uzbekistan">Uzbekistan</option>
            <option value="Venezuela">Venezuela</option>
        </select>
      </div>
      <!-- UNOOSA -->
      <div class="form-group">
        <p>1st Country Preference For UNOOSA</p>
        <select id="dropdown" name="ST_UNOOSA 1st Country" class="form-control" required>
          <option disabled selected value>Select Committee</option>
          <option value="Argentina ">Argentina </option>
          <option value="Australia ">Australia </option>
          <option value="Belgium">Belgium</option>
          <option value="Brazil">Brazil</option>
          <option value="Canada">Canada</option>
            <option value="France">France</option>
            <option value="India">India</option>
            <option value="Iran">Iran</option>
            <option value="Italy">Italy</option>
            <option value="Japan">Japan</option>
            <option value="Mexico">Mexico</option>
            <option value="Poland">Poland</option>
            <option value="Sweden">Sweden</option>
            <option value="Russia">Russia</option>
            <option value="UAE">UAE</option>
            <option value="USA">USA</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="Austria">Austria</option>
            <option value="Hungary">Hungary</option>
            <option value="Chile">Chile</option>
            <option value="Germany">Germany</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Kenya">Kenya</option>
            <option value="Morocco">Morocco</option>
            <option value="Nigeria">Nigeria</option>
            <option value="Iraq">Iraq</option>
            <option value="South Korea ">South Korea </option>
            <option value="Malaysia">Malaysia</option>
            <option value="South Africa ">South Africa </option>
            <option value="Peru">Peru</option>
            <option value="Cuba">Cuba</option>
            <option value="Ukraine">Ukraine</option>
            <option value="Singapore">Singapore</option>
            <option value="Finland">Finland</option>
            <option value="Dominican Republic ">Dominican Republic </option>
            <option value="New Zealand ">New Zealand </option>
            <option value="Cyprus">Cyprus</option>
            <option value="Qatar">Qatar</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Jordan">Jordan</option>
            <option value="Sri Lanka ">Sri Lanka </option>
            <option value="Denmark ">Denmark </option>
            <option value="Norway">Norway</option>
            <option value="Turkey">Turkey</option>
            <option value="Netherlands">Netherlands</option>
            <option value="Spain">Spain</option>
            <option value="Greece">Greece</option>
            <option value="China">China</option>
            <option value="Pakistan">Pakistan</option>
            <option value="Colombia">Colombia</option>
        </select>
      </div>

      <div class="form-group">
        <p>2nd Country Preference For UNOOSA</p>
        <select id="dropdown" name="ST_UNOOSA 2nd Country" class="form-control" required>
          <option disabled selected value>Select Committee</option>
          <option value="Argentina ">Argentina </option>
          <option value="Australia ">Australia </option>
          <option value="Belgium">Belgium</option>
          <option value="Brazil">Brazil</option>
          <option value="Canada">Canada</option>
            <option value="France">France</option>
            <option value="India">India</option>
            <option value="Iran">Iran</option>
            <option value="Italy">Italy</option>
            <option value="Japan">Japan</option>
            <option value="Mexico">Mexico</option>
            <option value="Poland">Poland</option>
            <option value="Sweden">Sweden</option>
            <option value="Russia">Russia</option>
            <option value="UAE">UAE</option>
            <option value="USA">USA</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="Austria">Austria</option>
            <option value="Hungary">Hungary</option>
            <option value="Chile">Chile</option>
            <option value="Germany">Germany</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Kenya">Kenya</option>
            <option value="Morocco">Morocco</option>
            <option value="Nigeria">Nigeria</option>
            <option value="Iraq">Iraq</option>
            <option value="South Korea ">South Korea </option>
            <option value="Malaysia">Malaysia</option>
            <option value="South Africa ">South Africa </option>
            <option value="Peru">Peru</option>
            <option value="Cuba">Cuba</option>
            <option value="Ukraine">Ukraine</option>
            <option value="Singapore">Singapore</option>
            <option value="Finland">Finland</option>
            <option value="Dominican Republic ">Dominican Republic </option>
            <option value="New Zealand ">New Zealand </option>
            <option value="Cyprus">Cyprus</option>
            <option value="Qatar">Qatar</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Jordan">Jordan</option>
            <option value="Sri Lanka ">Sri Lanka </option>
            <option value="Denmark ">Denmark </option>
            <option value="Norway">Norway</option>
            <option value="Turkey">Turkey</option>
            <option value="Netherlands">Netherlands</option>
            <option value="Spain">Spain</option>
            <option value="Greece">Greece</option>
            <option value="China">China</option>
            <option value="Pakistan">Pakistan</option>
            <option value="Colombia">Colombia</option>
        </select>
      </div>

      <div class="form-group">
        <p>3rd Country Preference For UNOOSA</p>
        <select id="dropdown" name="ST_UNOOSA 3rd Country" class="form-control" required>
          <option disabled selected value>Select Committee</option>
          <option value="Argentina ">Argentina </option>
          <option value="Australia ">Australia </option>
          <option value="Belgium">Belgium</option>
          <option value="Brazil">Brazil</option>
          <option value="Canada">Canada</option>
            <option value="France">France</option>
            <option value="India">India</option>
            <option value="Iran">Iran</option>
            <option value="Italy">Italy</option>
            <option value="Japan">Japan</option>
            <option value="Mexico">Mexico</option>
            <option value="Poland">Poland</option>
            <option value="Sweden">Sweden</option>
            <option value="Russia">Russia</option>
            <option value="UAE">UAE</option>
            <option value="USA">USA</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="Austria">Austria</option>
            <option value="Hungary">Hungary</option>
            <option value="Chile">Chile</option>
            <option value="Germany">Germany</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Kenya">Kenya</option>
            <option value="Morocco">Morocco</option>
            <option value="Nigeria">Nigeria</option>
            <option value="Iraq">Iraq</option>
            <option value="South Korea ">South Korea </option>
            <option value="Malaysia">Malaysia</option>
            <option value="South Africa ">South Africa </option>
            <option value="Peru">Peru</option>
            <option value="Cuba">Cuba</option>
            <option value="Ukraine">Ukraine</option>
            <option value="Singapore">Singapore</option>
            <option value="Finland">Finland</option>
            <option value="Dominican Republic ">Dominican Republic </option>
            <option value="New Zealand ">New Zealand </option>
            <option value="Cyprus">Cyprus</option>
            <option value="Qatar">Qatar</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Jordan">Jordan</option>
            <option value="Sri Lanka ">Sri Lanka </option>
            <option value="Denmark ">Denmark </option>
            <option value="Norway">Norway</option>
            <option value="Turkey">Turkey</option>
            <option value="Netherlands">Netherlands</option>
            <option value="Spain">Spain</option>
            <option value="Greece">Greece</option>
            <option value="China">China</option>
            <option value="Pakistan">Pakistan</option>
            <option value="Colombia">Colombia</option>
        </select>
      </div>

    <!-- <div class="form-group">
      <label for="roll" id="name-label">2nd Country Preference</label>
      <input type="text" name="ST_2nd Country Preference" id="2nd Country Preference" class="form-control" placeholder="Enter Country" required />
    </div> -->
    

    <!-- <div class="form-group">
      <label for="roll" id="name-label">3rd Country Preference</label>
      <input type="text" name="ST_3rd Country Preference" id="3rd Country Preference" class="form-control" placeholder="Enter Country" required />
    </div> -->
    



      <div class="form-group">
        <p>Have you participated in any MUNs before?</p>
        <!-- <label> <input name="userRecommend" value="definitely" type="radio" class="input-radio"
            checked />Definitely</label> -->
        <label> <input name="ST_Past MUN" value="YES" type="radio" class="input-radio" />YES</label>
        <label> <input name="ST_Past MUN" value="NO" type="radio" class="input-radio" />NO</label>
      </div>
      <div class="form-group">
        <label for="Past experience" id="Past Exprerience">If yes, then give us a brief description</label>
        <input type="text" name="ST_Past Exprerience" id="Description" class="form-control" placeholder="Describe your experience with MUNs"/>
      </div>
      <div class="form-group">
        <p>
          Payment Mode
          <span class="clue">(Payment Mode)</span>
        </p>
        <label><input name="ST_prefer" value="Gpay" type="checkbox" class="input-checkbox" />Gpay</label>
        <label><input name="ST_prefer" value="Phonepe" type="checkbox" class="input-checkbox" />Phonepe</label>
      </div>
      <div class="form-group" style="display: none;">
        <input type="text" name="category" value="student" hidden class="form-control" />
      </div>
      <div class="form-group">
        <p>Queries
          <span class="clue"></span>
        </p>
        <textarea id="comments" class="input-textarea form-control" name="Student_Queries"
          placeholder="Enter any queries here..."></textarea>
      </div>

      <div class="form-group">
        <button type="submit" id="submit" class="submit-button">
          Submit
        </button>
      </div>
    </form>
  </div>

  <script>
    document.getElementById('survey-form').reset()
  </script>
</body>

</html>