<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Submitted</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="success/style.css">
    <link rel="icon" type="image/icon" href="images/logo_white.png">
</head>

<body>
    <div class="container">
        <div class="item">
            <h2 id="title" class="text-center">Application Form Submitted</h2>
            <p id="description" class="description text-center">
                Thank you <%= name %>
            </p>
        </div>
    </div>
    
</body>

</html>