<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/icon" href="images/logo_white.png">
    <title>NITS MUN | Success</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="success/style.css">
    <link rel="icon" type="image/icon" href="images/logo_white.png">
    <style>
        @media screen and (max-width: 768px) {
      .navbar{
        text-align: center;
      }
    }
    </style>
</head>

<body>
    <div class="container">
        <div class="item">
            <h2 id="title" class="text-center">Application Form Submitted</h2>
            <p id="description" class="description text-center">
                Thank you <%= name %>
            </p>
            <br>
            <a href="/" style = "color:white ; text-align: center;"><h3>← Back To Home</h3></a>
        </div>
    </div>
    
</body>

</html>