<!DOCTYPE html>
<html lang="en">

<head>
    <title>NITS MUN | Secretariat</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width initial-scale=1">
    <link rel="icon" type="image/icon" href="images/logo_white.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-3.3.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.1.0/mdb.min.js"></script>
    <script src="js\bootstrap_modal.js"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/715c997c20.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/team.css">
    <link rel="stylesheet" type="text/css" href="css/styleCard.css">
    <link rel="stylesheet" type="text/css" href="css/preload.css">
    <link rel="stylesheet" type="text/css" href="css/landing.css">
    <link rel="stylesheet" type="text/css" href="css/styleCard.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">

    <style>
        .img-text {
            cursor: pointer;
        }

        .btn {
            background-color: #7890cd;
        }
        @media screen and (max-width: 768px) {
      .navbar{
        text-align: center;
      }
    }
    </style>
</head>

<body>
    <!-- Navbar -->
  <div class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #212D74; opacity: 0.9;">
      <a class="navbar-brand px-2" href="/" style="font-size: 30px; font-family: 'Noto Serif', serif;">NITSMUN</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 24px; font-family: Roboto;
      font-style: normal;">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link px-4" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link px-4" href="/secretariat">Secretariat</a>
          </li>
          <li class="nav-item active px-4">
            <a class="nav-link" href="/history">History</a>
          </li>
          <li class="nav-item active px-4">
            <a class="nav-link" href="/gallery">Gallery</a>
          </li>
          <li class="nav-item dropdown active px-4">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color:#f73167;">
              APPLY
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown"
              style="font-size: 22px;">
              <a class="dropdown-item" href="/apply_ST">Delegate Applications</a>
              <a class="dropdown-item" href="/apply_EB">Executive Board Applications</a>


            </div>
          </li>

        </ul>

      </div>
    </nav>
  </div>


    <div style="height:100px"></div>
    <div class="container-card">

        <h1 class="team_text">Secretariat</h1>
        <div class="card-wrapper">
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/mayurakshi.jpg" alt="profile image" class="profile-img">
                <h1>Mayurakshi Chanda</h1>
                <p class="job-title">Secretary General</p>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/mayurakshi.chanda" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/arnab.jpg" alt="profile image" class="profile-img">
                <h1>Arnab Das</h1>
                <p class="job-title">Director General</p>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/profile.php?id=100009744844536" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/ritika.jpg" alt="profile image" class="profile-img">
                <h1>Ritika Dubey</h1>
                <p class="job-title">Director General</p>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/ritika.dubey.96387189" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/jishnu.jpg" alt="profile image" class="profile-img">
                <h1 style="font-size:1.2rem">Jishnu Kashyap Hazarika</h1>
                <p class="job-title">General Secretary</p>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/jishnu.kashyap.7" target="_blank"><i
                                class="fa fa-facebook-square"></i></a>
                    </li>
                </ul>
            </div>


        </div>
        <div class="card-wrapper">
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/ayushi_johari.jpg" alt="profile image" class="profile-img">
                <h1>Ayushi Johari</h1>
                <p class="job-title">Deputy Secretary General</p>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/ayushi.johari.35762" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/monjita.jpg" alt="profile image" class="profile-img">
                <h1>Monjita Baruah</h1>
                <p class="job-title">Deputy Director General</p>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/meghna.baruah.16" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/deepjoy.jpg" alt="profile image" class="profile-img">
                <h1>Deepjoy Dey</h1>
                <p class="job-title">Deputy Director General</p>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/deepjoy.dey.98" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>

        </div>
        <div class="card-wrapper">
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/yashwanth.jpg" alt="profile image" class="profile-img">
                <h1 style="font-size:1.3rem">Kolli Yashwanth</h1>
                <p class="job-title">Head of Delegate Affairs</p>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/yashwanth.kolli.3" _blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/kaustubh.jpg" alt="profile image" class="profile-img">
                <h1>Kaustubh Mishra</h1>
                <p class="job-title">Head of Public Relations and Outreach</p>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/kaustubh.mishra.98434" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/sudhanshu.jpg" alt="profile image" class="profile-img">
                <h1>Sudhanshu Yaduvanshi</h1>
                <p class="job-title">Head of Public Relations and Outreach</p>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/sudhanshu.kishan" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/ujjawal.jpg" alt="profile image" class="profile-img">
                <h1>Ujjawal Jain</h1>
                <p class="job-title">Head of Technical Operations</p>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/jainujjawal1999" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/arshita2.jpg" alt="profile image" class="profile-img">
                <h1>Arshita Narayan</h1>
                <p class="job-title">Head of Technical Operations</p>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/arshita.narayan.3" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/abhishek.jpg" alt="profile image" class="profile-img">
                <h1>Abhishek Aman</h1>
                <p class="job-title">Head of Design and Logistics</p>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/profile.php?id=100023332380917" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/abhishek_baghele.jpg" alt="profile image" class="profile-img">
                <h1>Abhishek Baghele</h1>
                <p class="job-title">Head of Design and Logistics</p>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/abhishek.baghele.9" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
        </div>
        <h1 class="team_text">Research Team</h1>
        <div class="card-wrapper">

            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/lahari2.jpeg" alt="profile image" class="profile-img">
                <h1 style="font-size:1.2rem">Sai Lahari Jayareddygari</h1>
                <!-- <p class="job-title">Coordinator</p> -->
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/profile.php?id=100006209748653" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/mehul.jpg" alt="profile image" class="profile-img">
                <h1>Mehul Dewangan</h1>
                <!-- <p class="job-title">Coordinator</p> -->
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/mehul.dewangan.1" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/sanchayita2.jpg" alt="profile image" class="profile-img">
                <h1>Sanchayita Purkayastha</h1>
                <!-- <p class="job-title">Coordinator</p> -->
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/sanchayita.purkayastha" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>

        </div>
        <div class="card-wrapper">
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/Mondeep2.jpeg" alt="profile image" class="profile-img">
                <h1>Mondeep Prakash</h1>
                <!-- <p class="job-title">Coordinator</p> -->
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/mondeep.prakash" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/shreyashi2.jpeg" alt="profile image" class="profile-img">
                <h1>Shreyashi Roymedhi</h1>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/profile.php?id=100009709412767" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/chourasia.jpg" alt="profile image" class="profile-img">
                <h1>Rahul Chourasia</h1>
                <!-- <p class="job-title">Coordinator</p> -->
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/profile.php?id=100008137332638" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="/images/sunil.jpeg" alt="profile image" class="profile-img">
                <h1>Sunil Kumar</h1>
                <!-- <p class="job-title">Coordinator</p> -->
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/profile.php?id=100006872709714" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
        </div>
        <h1 class="team_text">Web Development Team</h1>
        <div class="card-wrapper">
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/AdityaB.jpeg" alt="profile image" class="profile-img">
                <h1>Aditya Kotari</h1>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/aditya.kotari.77" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/Tasneem.jpg" alt="profile image" class="profile-img">
                <h1>Tasneem Koushar</h1>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/tasneem.koushar.12" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>

        </div>

        <h1 class="team_text">Design Team</h1>
        <div class="card-wrapper">
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/nihar.jpg" alt="profile image" class="profile-img">
                <h1>Nihar Basisth</h1>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/nihar.basisth.7" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
            <div class="card-team">
                <img src="./images/1.jpg" alt="card background" class="card-img">
                <img src="./images/sohan.jpg" alt="profile image" class="profile-img">
                <h1>Sohan Paul</h1>
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/profile.php?id=100006964561539" target="_blank"><i
                                class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ********************* new footer ********************* -->
    <footer class="footer-distributed">

        <div class="footer-left">
          <div><img class="nitslogofooter" src="images/text_logo_white.png" width="300px" height=auto></div>
          <div class="footer-links">
            <a href="/">Home</a>
            ·
            <a href="/secretariat">Secretariat</a>
            ·
            <a href="/history">History</a>
            ·
            <a href="/gallery">Gallery</a>
            ·
          <a class="dropdown-toggle" id="Dropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Apply
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Dropdown2">
            <a class="dropdown-item" href="/apply_ST">Delegate Applications</a>
            <a class="dropdown-item" href="/apply_EB">Executive Board Applications</a>
          </div>
        </div>
          <p class="footer-company-name">NITSMUN © 2021</p>
        </div>
    
        <div class="footer-center">
    
          <div>
            <i class="fa fa-map-marker"></i>
            <p><span>NIT Silchar</span> Silchar, Assam</p>
          </div>
    
          <div>
            <i class="fa fa-phone fa-flip-horizontal"></i>
            <p>+91 94355 37377 / +91 70028 87692</p>
          </div>
    
          <div>
            <i class="fa fa-envelope"></i>
            <p><a target="__blank" href="mailto:support@company.com" style="color: #fff;">team.nitsmun@gmail.com</a></p>
          </div>
    
        </div>
    
        <div class="footer-right">
    
          <p class="footer-company-about">
            <span>NITSMUN</span>
            National Institute of Technology, Silchar - Model United Nations 
          </p>
    
          <div class="footer-icons">
    
            <a target="__blank" href="https://www.facebook.com/NITSMUN/?ref=br_rs"><i class="fa fa-facebook"></i></a>
            <a target="__blank" href="https://www.instagram.com/nitsmun/"><i class="fa fa-instagram"></i></a>
    
          </div>
    
        </div>
    
      </footer>
    
    <script>
        AOS.init({
            disable: 'mobile'
        });
        AOS.init({
            disable: function () {
                var maxWidth = 768;
                return window.innerWidth < maxWidth;
            }
        });
    </script>
</body>

</html>