.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn-style{
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translate(0%); */
  margin: 50px 10px 10px 10px;
  border: 1px solid transparent;
  padding: 10px;
  margin-left: 40%;
  /* margin-left: auto; */
  background: #96193B;
  color: white;
  font-size: 20px;
  cursor:pointer;
  outline: none !important;
}